.modal {
  padding: 1em; /*16px at default font-size*/
  padding-bottom: 2.5em; /*40px at default font-size*/
  margin: 0;
  width: 20em; /*320px at default font-size*/
  max-width: 85vw; /*320px at viewport width 375px*/
  height: fit-content;
  background-color: var(--white);
  border-width: 0;
}

.qrCode {
  width: 100%;
  height: auto;
  border-radius: 0.625em; /*10px at default font-size*/
  margin-bottom: 1.5em; /*24px at default font-size*/
}

.description {
  padding: 0 1em; /*16px at default font-size*/
  font-family: var(--font-outfit-sans);
  text-align: center;
}

.pitch {
  text-align: center;
  font-size: 1.375em; /*22px at default font-size*/
  font-weight: 700;
  line-height: 120%;
  margin: 0 0 0.7272em 0; /*16px at default font-size*/
  color: var(--slate-900);
}

.todo {
  margin: 0;
  color: var(--slate-500);
  font-size: 0.9375em; /*15px at default font-size*/
  font-weight: 400;
  line-height: 140%;
}

@media (min-width: 40rem) {
  /*640px at default font-size*/
  .dialog {
    max-width: none;
  }
}
